{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron">
    <form method="POST">
      <header class="mt-4">
        <h1 class="text-left">Configuration Settings</h1>
      </header>
      <!-- <label for="rotation_speed">Rotaion Speed:</label>
      <input type="text" id="ROTATION" name="ROTATION" value="{{ config['ROTATION'] }}"><br> -->
      <div class="form-group">
        <label for="rotation_speed">Steps Per Revolution:</label>
        <input type="text" id="STEPS_PER_REVOLUTION" name="STEPS_PER_REVOLUTION" value="{{ config['STEPS_PER_REVOLUTION'] }}">
       </div>
      
      <div class="form-group">
         <label for="rotation_speed">Degrees Per Step:</label>
        <input type="text" id="DEGREES_PER_STEP" name="DEGREES_PER_STEP" value="{{ config['DEGREES_PER_STEP'] }}"><br>
      </div>

      <div class="form-group">
        <label for="rotation_speed">Steps Per 90 degrees:</label>
        <input type="text" id="STEPS_PER_90_DEGREES" name="STEPS_PER_90_DEGREES" value="{{ config['STEPS_PER_90_DEGREES'] }}"><br>
      </div>

      <div class="form-group">
        <label for="rotation_speed">Steps Delay:</label>
        <input type="text" id="STEP_DELAY" name="STEP_DELAY" value="{{ config['STEP_DELAY'] }}"><br>
      </div>

      <!-- <header class="mt-4">
        <h1 class="text-left">PIN Settings</h1>
      </header>
      <br />

      <div class="form-group">
        <label for="rotation_speed">M1 Step Pin:</label>
        <input type="text" id="M1_STEP_PIN" name="M1_STEP_PIN" value="{{ config['M1_STEP_PIN'] }}"><br>
      </div>

      <div class="form-group">
        <label for="rotation_speed">M1 Direction Pin:</label>
        <input type="text" id="M1_DIR_PIN" name="M1_DIR_PIN" value="{{ config['M1_DIR_PIN'] }}"><br><br>
      </div>

      <div class="form-group">
        <label for="rotation_speed">M2 Step Pin:</label>
        <input type="text" id="M2_STEP_PIN" name="M2_STEP_PIN" value="{{ config['M2_STEP_PIN'] }}"><br>
      </div>

      <div class="form-group">
        <label for="rotation_speed">M2 Direction Pin:</label>
        <input type="text" id="M2_DIR_PIN" name="M2_DIR_PIN" value="{{ config['M2_DIR_PIN'] }}"><br><br>
      </div>

      <div class="form-group">
        <label for="rotation_speed">M3 Step Pin:</label>
        <input type="text" id="M3_STEP_PIN" name="M3_STEP_PIN" value="{{ config['M3_STEP_PIN'] }}"><br>
     </div>

     <div class="form-group">
        <label for="rotation_speed">M3 Direction Pin:</label>
        <input type="text" id="M3_DIR_PIN" name="M3_DIR_PIN" value="{{ config['M3_DIR_PIN'] }}"><br><br>
     </div>

     <div class="form-group">
        <label for="rotation_speed">M4 Step Pin:</label>
        <input type="text" id="M4_STEP_PIN" name="M4_STEP_PIN" value="{{ config['M4_STEP_PIN'] }}"><br>
    </div>

    <div class="form-group">
        <label for="rotation_speed">M4 Direction Pin:</label>
        <input type="text" id="M4_DIR_PIN" name="M4_DIR_PIN" value="{{ config['M4_DIR_PIN'] }}"><br><br>
    </div> -->

      <input type="submit" value="Save" style="width: 30%;">
      <!-- <button id="defaultSettings" onclick="loadDefaultConfig()">Default Settings</button> -->
  </form>
  </div>
  <script>
    $(document).ready(function() {
        $('#defaultSettings').click(function() {
            $.get('/loadDefaults', function(data) {
                $('#STEPS_PER_REVOLUTION').text(data["SETTINGS"["STEPS_PER_REVOLUTION"]]);
                //console.log("rotation speed :" + data.rotation_speed);
            }).fail(function() {
                console.error('Error fetching message');
            });
        });
    });
  </script>
  <script>
    function callPythonScript() {
        fetch('/run-script', {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message); // Handle the response here
            alert(data.message); // Show the message in an alert
        })
        .catch(error => console.error('Error:', error));
    }

    function loadDefaultConfig() {
        fetch('/loadDefaults', {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            // console.log(data.rotation_speed); // Handle the response here
             //alert(data.rotation_speed); // Show the message in an alert
            //$('#STEPS_PER_REVOLUTION').value(data["STEPS_PER_REVOLUTION"]);
            $('#STEPS_PER_REVOLUTION').text(2002);
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}