{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron" style="padding: 10px">
    <form method="POST">
      <div class="form-container">
        <div class="content-container">
          <div class="column left">
              <header class="mt-1">
                <h1 class="text-left header-text">Configuration Settings</h1>
              </header>
              <div class="pin-container">
                <div class="form-group">
                  <div class="group-field ">
                    <label for="rotation_speed">Steps Per Revolution:</label>
                    <input type="text" id="steps_per_revolution" name="steps_per_revolution" value="{{ config['steps_per_revolution'] }}" class="text-input">
                  </div>
                  <div class="group-field ">
                    <label for="rotation_speed">Degrees Per Step:</label>
                    <input type="text" id="degrees_per_step" name="degrees_per_step" value="{{ config['degrees_per_step'] }}" class="text-input">
                  </div>
                  <div class="group-field ">
                    <label for="rotation_speed">Steps Per 90 degrees:</label>
                    <input type="text" id="steps_per_90_degrees" name="steps_per_90_degrees" value="{{ config['steps_per_90_degrees'] }}" class="tehhhxt-input">
                  </div>
                  <div class="group-field ">
                    <label for="rotation_speed">Steps Delay:</label>
                    <input type="text" id="step_delay" name="step_delay" value="{{ config['step_delay'] }}" class="text-input">
                  </div>
                </div>
              </div>
          </div>
          <div class="column right">
              <header class="mt-1">
                <h1 class="text-left header-text">Devices PIN Settings</h1>
              </header>
              <div class="pin-container">
                <p class="item-title">Crane Movement Joystick</p>
                <div class="form-group">
                  <div class="group-field ">
                    <label for="rotation_speed">Up</label>
                    <input type="text" id="j1_up_pin" name="j1_up_pin" value="{{ config['j1_up_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                  
                  <div class="group-field ">
                    <label for="rotation_speed">Down</label>
                    <input type="text" id="j1_down_pin" name="j1_down_pin" value="{{ config['j1_down_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                  <div class="group-field ">
                    <label for="rotation_speed">Left</label>
                    <input type="text" id="j1_left_pin" name="j1_left_pin" value="{{ config['j1_left_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                  <div class="group-field ">
                    <label for="rotation_speed">Right</label>
                    <input type="text" id="j1_right_pin" name="j1_right_pin" value="{{ config['j1_right_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                </div>
              </div>
              <!-- end of joysstick 1  -->

              <div class="pin-container">
                <p class="item-title">Crane Claw Joystick</p>
                <div class="form-group">
                  <div class="group-field ">
                    <label for="rotation_speed">Up</label>
                    <input type="text" id="j2_up_pin" name="j2_up_pin" value="{{ config['j2_up_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                  
                  <div class="group-field ">
                    <label for="rotation_speed">Down</label>
                    <input type="text" id="j2_down_pin" name="j2_down_pin" value="{{ config['j2_down_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                  <div class="group-field ">
                    <label for="rotation_speed">Left</label>
                    <input type="text" id="j2_left_pin" name="j2_left_pin" value="{{ config['j2_left_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                  <div class="group-field ">
                    <label for="rotation_speed">Right</label>
                    <input type="text" id="j2_right_pin" name="j2_right_pin" value="{{ config['j2_right_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                  <div class="group-field ">
                    <label for="rotation_speed">Trigger</label>
                    <input type="text" id="j2_trigger_pin" name="j2_trigger_pin" value="{{ config['j2_trigger_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                  <div class="group-field ">
                    <label for="rotation_speed">Fire</label>
                    <input type="text" id="j2_fire_pin" name="j2_fire_pin" value="{{ config['j2_fire_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                </div>
              </div> 

              <!-- end of joystick 2-->
              <div class="pin-container">
                <p class="item-title" for="rotation_speed">Stepper Motor Settings</p>
                <div class="legend">
                  <p class="p-legend "><i>
                    Joystick Movements = up | down | left | right
                  </i></p>
                  <i>Movement = Joystick Movement</i><br />
                  <i>R-Movement (Reverse Movement) = Joystick Movement</i>
                </div>
                <div class="form-group ">
                    <div class="group-field">
                      <!-- <p class="item-title" for="rotation_speed">Crane Motors</p> -->
                      <table>
                        <thead>
                            <tr>
                                <th>Motor</th>
                                <th>Pin</th>
                                <th>Drive</th>
                                <th>Movement</th>
                                <th>Reversible</th>
                                <th>R-Movement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><input type="text" id="m1_step_pin" name="m1_step_pin" value="{{ config['m1_step_pin'] }}" placeholder="PIN" class="table-text-input"></td>
                                <td> <input type="text" class="table-text-input" id="m1_dir_pin" name="m1_dir_pin" value="{{ config['m1_dir_pin'] }}" placeholder="PIN"></td>
                                <td> <input type="text" class="table-text-input" id="m1_movement" name="m1_movement" value="{{ config['m1_movement'] }}" placeholder="Movement"></td>
                               
                                <td><input type="checkbox" name="m1_reversible" id="m1_reversible" class="table-text-input" value="{{ config['m1_reversible'] }}"  {% if config.m1_reversible == 'True' %} checked {% endif %}></td>
                                <td> <input type="text" class="table-text-input" id="m1_reverse_movement" name="m1_reverse_movement" value="{{ config['m1_reverse_movement'] }}" placeholder="Reverse"></td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td><input type="text" id="m2_step_pin" name="m2_step_pin" value="{{ config['m2_step_pin'] }}" placeholder="PIN" class="table-text-input"></td>
                              <td> <input type="text" class="table-text-input" id="m2_dir_pin" name="m2_dir_pin" value="{{ config['m2_dir_pin'] }}" placeholder="PIN"></td>
                              <td> <input type="text" class="table-text-input" id="m2_movement" name="m2_movement" value="{{ config['m2_movement'] }}" placeholder="Movement"></td>
                              <td><input type="checkbox" id="m2_reversible" name="m2_reversible" class="table-text-input" value="{{ config['m2_reversible'] }}" {% if config.m2_reversible == 'True' %} checked {% endif %}></td>
                              <td> <input type="text" class="table-text-input" id="m2_reverse_movement" name="m2_reverse_movement" value="{{ config['m2_reverse_movement'] }}" placeholder="Reverse"></td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td><input type="text" id="m3_step_pin" name="m3_step_pin" value="{{ config['m3_step_pin'] }}" placeholder="PIN" class="table-text-input"></td>
                            <td> <input type="text" class="table-text-input" id="m3_dir_pin" name="m3_dir_pin" value="{{ config['m3_dir_pin'] }}" placeholder="PIN"></td>
                            <td> <input type="text" class="table-text-input" id="m3_movement" name="m3_movement" value="{{ config['m3_movement'] }}" placeholder="Movement"></td>
                            <td><input type="checkbox" id="m3_reversible" name="m3_reversible" class="table-text-input" value="{{ config['m3_reversible'] }}" {% if config.m3_reversible == 'True' %} checked {% endif %}></td>
                            <td> <input type="text" class="table-text-input" id="m3_reverse_movement" name="m3_reverse_movement" value="{{ config['m3_reverse_movement'] }}" placeholder="Reverse"></td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td><input type="text" id="m4_step_pin" name="m4_step_pin" value="{{ config['m4_step_pin'] }}" placeholder="PIN" class="table-text-input"></td>
                            <td> <input type="text" class="table-text-input" id="m4_dir_pin" name="m4_dir_pin" value="{{ config['m4_dir_pin'] }}" placeholder="PIN"></td>
                            <td> <input type="text" class="table-text-input" id="m4_movement" name="m4_movement" value="{{ config['m4_movement'] }}" placeholder="Movement"></td>
                            <td><input type="checkbox" id="m4_reversible" name="m4_reversible" class="table-text-input" value="{{ config['m4_reversible'] }}" {% if config.m4_reversible == 'True' %} checked {% endif %}></td>
                            <td> <input type="text" class="table-text-input" id="m4_reverse_movement" name="m4_reverse_movement" value="{{ config['m4_reverse_movement'] }}" placeholder="Reverse"></td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- end of motor -->
              <div class="pin-container">
                <p class="item-title">Micro Switch</p>
                <div class="form-group">
                  <div class="group-field ">
                    <label for="rotation_speed">Left</label>
                    <input type="text" id="left_stop_pin" name="left_stop_pin" value="{{ config['left_stop_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                  
                  <div class="group-field ">
                    <label for="rotation_speed">Right</label>
                    <input type="text" id="right_stop_pin" name="right_stop_pin" value="{{ config['right_stop_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                </div>
              </div>
              <!-- End of switch -->
              <!-- Servo Motors -->
              <div class="pin-container">
                <p class="item-title">Servo Motors</p>
                <div class="form-group">
                  <div class="group-field ">
                    <label for="rotation_speed">Claw Servo</label>
                    <input type="text" id="claw_pickup_pin" name="claw_pickup_pin" value="{{ config['claw_pickup_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                  
                  <div class="group-field ">
                    <label for="rotation_speed">Claw Rotation Servo</label>
                    <input type="text" id="claw_rotation_pin" name="claw_rotation_pin" value="{{ config['claw_rotation_pin'] }}" placeholder="PIN" class="text-input">
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" value="Save" class="text-button">
        <!-- <button id="defaultSettings" onclick="loadDefaultConfig()" class="text-button">Default Settings</button> -->
      </div>
  </form>
  <br />
  </div>
  <script>
    $(document).ready(function() {
        $('#defaultSettings').click(function() {
            $.get('/loadDefaults', function(data) {
                $('#STEPS_PER_REVOLUTION').text(data["SETTINGS"["STEPS_PER_REVOLUTION"]]);
                //console.log("rotation speed :" + data.rotation_speed);
            }).fail(function() {
                console.error('Error fetching message');
            });
        });
    });
  </script>
  <script>
    function callPythonScript() {
        fetch('/run-script', {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message); // Handle the response here
            alert(data.message); // Show the message in an alert
        })
        .catch(error => console.error('Error:', error));
    }

    function loadDefaultConfig() {
        fetch('/loadDefaults', {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            // console.log(data.rotation_speed); // Handle the response here
             //alert(data.rotation_speed); // Show the message in an alert
            //$('#STEPS_PER_REVOLUTION').value(data["STEPS_PER_REVOLUTION"]);
            $('#STEPS_PER_REVOLUTION').text(2002);
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}