{% extends 'layout.html' %}

{% block body %}
<script>
    window.onload = function() {
        document.getElementById("toggleView").style.display = "none";
    }
</script>
    <div class="jumbotron">
        <h1>Joystick Simulator</h1>
        <div>
            <p>Select joystick to control:</p>
            <select id="joystick_device" name="joystick_device" class="joystick-select">
                <option value="crane">Crane</option>
                <option value="claw">Claw</option>
            </select>
        </div>
        <div id="output">Direction: Neutral</div>
        <div class="container text-center mt-5">
            <div class="button-main">
                <div class="button-container">
                    <div id="joystick">
                        <button class="btn btn-primary long-press-btn button button1" id="up">↑</button>
                        <button class="btn btn-primary long-press-btn button button2" id="down">↓</button>
                        <button class="btn btn-primary long-press-btn button button3" id="left">←</button>
                        <button class="btn btn-primary long-press-btn button button4" id="right">→</button>
                    </div>
                </div>
            </div>     
        </div>
        <div id="toggleView">
            <div class="">
                <div class="button-container">
                    <div id="">
                        <button class="btn-primary long-press-btn button button3" id="trigger">Middle</button>
                        <button class="btn-primary long-press-btn button button4" id="fire">Side</button>
                    </div>
                </div>
            </div>     
        </div>
    </div>
    <script>
        const output = document.getElementById('output');
        let longPressTimer;
        var joystick_device = 'crane';
    
        function updateDirection(direction) {
            console.log('joystick selected:' + joystick_device);
            output.textContent = `Direction: ${direction}`;
                fetch(`/long_press/${direction}/${joystick_device}`, {
                        method: 'POST'
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.message); 
                    })
                    .catch(error => console.error('Error:', error));
        }
    
        function startLongPress(direction) {
            updateDirection(direction);
            longPressTimer = setInterval(() => {
                updateDirection(direction);
            }, 1000); 
        }
    
        function stopLongPress() {
            clearInterval(longPressTimer);
            output.textContent = 'Direction: Neutral';
        }
    
        document.getElementById('up').addEventListener('mousedown', () => startLongPress('up'));
        document.getElementById('down').addEventListener('mousedown', () => startLongPress('down'));
        document.getElementById('left').addEventListener('mousedown', () => startLongPress('left'));
        document.getElementById('right').addEventListener('mousedown', () => startLongPress('right'));
    
        document.addEventListener('mouseup', stopLongPress);
        document.addEventListener('mouseleave', stopLongPress); // Also stop if mouse leaves the document
    
        // Reset direction when clicking elsewhere
        document.body.addEventListener('click', (e) => {
            if (!e.target.classList.contains('button')) {
                stopLongPress();
            }
        });

        $(document).ready(function() {
            $('#joystick_device').change(function() {
                var selectedValue = $(this).val();
                joystick_device = selectedValue
                if (selectedValue == 'claw') {
                    $('#toggleView').show();
                } else {
                    $('#toggleView').hide();
                }
            });
        });
    </script>
{% endblock %}